{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                {% for row in history %}
                    <tr>
                        <td>{{ row["Symbol"] }}</td>
                        <td>{{ row["Shares"] }}</td>
                        <td>{{ row["Price"] }}</td>
                        <td>{{ row["Timestamp"] }}</td>
                    </tr>
                {% endfor %}
        </table>
   </div>

{% endblock %}