{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Quote</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        {% for line in history %}
            <td>{{ line["Symbol"] }}</td>
            <td>{{ line["Shares"] }}</td>
            <td>{{ line["Quote"] }}</td>
            <td>{{ time["Time"] }}</td>
        {% endfor %}
        </tr>
    </tbody>
</table>

{% endblock %}