{% extends "layout.html" %}

{% block main %}

<table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for stock in stocks %}
            <td>{{ stock["Symbol"] }}</tb>
            <td>{{ stock["Shares"] }}</tb>
            <td>{{ stock["Price"] }}</tb>
            <td>{{ stock["Total"] }}</tb>
            {% endfor %}
        </tr>
        <tr>Balance</tr>
            <td>{{ balance }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}