{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="form-group">
            <input type="text" name="username" placeholder="Username" autocomplete="OFF" autofocus>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Password" autocomplete="OFF">
        </div>
        <button type="submit" class="btn">Log In</button>
    </form>
{% endblock %}
