{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <!--<button type="button" class="btn btn-light">Enter the symbol of a stock</button>-->
        <h5>Enter the symbol of a stock</h5>
        <br>

        <div class="form-group">
            <input type="text", placeholder="", name="symbol", autocomplete="off" autofocus class="form-control">
        </div>

        <button type="submit" class="btn btn-warning">Get Quote</button>
    </form>
{% endblock %}